.footer {
    background-color: #213448; /* Dark blue-green */
    color: #ECEFCA; /* Light cream */
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }